<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.themleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<tr align="center" th:each="tag,iterStat:${pageInfo.list}">
    <th th:text="${iterStat.count}">1</th>
    <th th:text="${tag.name}">我的故事</th>
    <th>
        <a href="#" th:href="@{/admin/tags/{id}/input(id=${tag.id})}">编辑</a>
        <a href="#" th:href="@{/admin/tags/{id}/delete(id=${tag.id})}" class="ui mini red basic button">删除</a>
    </th>
<tr>
    <th colspan="6" >
        <div >
            <div align="center">
                <a th:href="@{/admin/tags(pageNum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}" th:unless="${pageInfo.isFirstPage}">上一页</a>
            </div>

            <div align="center">
                <p>第 <span th:text="${pageInfo.pageNum}"></span> 页，共 <span th:text="${pageInfo.pages}"></span> 页，有 <span th:text="${pageInfo.total}"></span> 个分类</p>
            </div>

            <div align="center">
                <a  th:href="@{/admin/tags(pageNum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages})}" th:unless="${pageInfo.isLastPage}">下一页</a>
            </div>
        </div>
        <div align="center">
            <a href="#" th:href="@{/admin/tags/input}">
                <button type="button" >新增</button>
            </a>
        </div>
    </th>
</tr>
</body>
</html>