<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.themleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<tr align="center" th:each="type,iterStat:${pageInfo.list}">
  <td th:text="${iterStat.count}">1</td>
  <td th:text="${type.name}">我的故事</td>
  <td>
    <a href="#" th:href="@{/admin/types/{id}/input(id=${type.id})}">编辑</a>
    <a href="#" th:href="@{/admin/types/{id}/delete(id=${type.id})}" class="ui mini red basic button">删除</a>
  </td>
<tr>
  <th colspan="6" >
    <div >
      <div align="center">
        <a th:href="@{/admin/types(pageNum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}" th:unless="${pageInfo.isFirstPage}">上一页</a>
      </div>

      <div align="center">
        <p>第 <span th:text="${pageInfo.pageNum}"></span> 页，共 <span th:text="${pageInfo.pages}"></span> 页，有 <span th:text="${pageInfo.total}"></span> 个分类</p>
      </div>

      <div align="center">
        <a  th:href="@{/admin/types(pageNum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages})}" th:unless="${pageInfo.isLastPage}">下一页</a>
      </div>
    </div>
    <div align="center">
      <a href="#" th:href="@{/admin/types/input}">
        <button type="button" >新增</button>
      </a>
    </div>
  </th>
</tr>
</body>
</html>