<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/lib/semantic/dist/semantic.min.css" th:href="@{/lib/semantic/dist/semantic.min.css}">
    <link rel="stylesheet"  href="../../static/css/index.css" th:href="@{/css/index.css}">
</head>
<body><br>
<br>
<br><br>
<br>
<br><br>
<br>
<br>
<div class="m-container-small m-padded-tb-massive">
    <div class="ui error message m-padded-tb-huge" >
        <div class="ui contianer">
            <h2>错误</h2>
            <p>对不起，服务异常，请联系管理员</p>
        </div>
    </div>
</div>
<div class="m-margin-top-max" align="center">
    <a href="#" th:href="@{/}">
        <button type="button" class="ui teal button m-mobile-wide"><i class="home icon"></i>返回首页</button>
    </a>
</div>
<br>
<br>
<br>
<br><br><br><br><br><br><br><br><br><br><br><br>
<!--底部-->
<footer class="ui inverted vertical segment m-padded-6">
    <div class="ui center aligned container">
        <div class="ui inverted divided grid">
            <div class="three wide column">
                <img src="../images/footer.png" class="ui rounded image" style="width:100px;height: 120px;"  alt="">
            </div>

            <div class="three wide column m-text-thin m-text-spaced m-text-lined m-opacity-mini">
                <h4 class="ui inverted heaerd">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">我们的故事</a>
                    <a href="#" class="item">每日新鲜事</a>
                    <a href="#" class="item">热榜</a>
                </div>
            </div>

            <div class="three wide column m-text-thin m-text-spaced m-text-lined m-opacity-mini">
                <h4 class="ui inverted heaerd">联系我们</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Emai:111111@163.com</a>
                    <a href="#" class="item">QQ: 12121212</a>
                    <a href="#" class="item">tel:13131313</a>
                </div>
            </div>

            <div class="seven wide column m-text-thin m-text-spaced m-text-lined m-opacity-mini">
                <h4 class="ui inverted heaerd ">About Blog</h4>
                <p>这是三个小朋友第一次尝试开发的Blog，能够实现最基础的博客功能，fighting~！！！！</p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>