body{
    background: url(../images/backgroundtwo.jpg)  no-repeat  center center fixed;
}
.m-padded {
    padding: 1em !important;
}
.m-padded-nav{
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
}
.m-padded-mini{
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
}
.m-padded-tiny{
    padding-top: 0.3em !important;
    padding-bottom: 0.3em !important;
}
.m-padded-small{
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
}
.m-padded-tb{
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}
.m-padded-large{
    padding-top: 2em !important;
    padding-bottom: 2em !important;
}
.m-padded-big{
    padding-top: 3em !important;
    padding-bottom: 3em !important;
}
.m-padded-huge{
    padding-top: 4em !important;
    padding-bottom: 4em !important;
}
.m-padded-massive{
    padding-top: 5em !important;
    padding-bottom: 5em !important;
}
.m-margin-small{
    margin-top: 0.5em !important;
    margin-bottom: 0.5 !important;
}
.m-margin-big{

    margin-bottom: 4em !important;
}
.m-margin-large{
    margin-bottom: 2em !important;
}

.login{
    padding-left: 50px !important;
}
/* disply*/
.m-inline-block{
    display: inline-block !important;
}

.m-fixed {
    position: fixed !important;
    z-index: 10 !important;
}
.m-right-bottom {
    bottom: 0 !important;
    right: 0 !important;
}
/*详情页css*/
.m-container-small{
    max-width: 65em !important;
    margin: auto !important;
}
.m-padded-lr{
    padding-left: 4em !important;
    padding-right: 4em !important;
}
.background{
    background-color: rgb(214, 213, 213) !important;
}
.m-shadow-nav{
    box-shadow: 0 4px 8px rgb(0,0,0,0.2) !important;
}

 /* 字体设置 */
 .m-text{
    font-weight: 350 !important;
    letter-spacing: 0.5px !important;
    line-height: 1.3;
 }
 .m-text-thin{
    font-weight: 300 !important;
 }
 .m-text-spaced{
    letter-spacing: 0.5px !important;
 }
 .m-text-lined{
    line-height: 1.8;
 }
 .m-opacity-mini{
    opacity: 0.8 !important;
 }