<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.themleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/index.css" th:href="@{/css/index.css}">
</head>

<body>
<!--导航部分-->
<nav class="ui inverted attached segment m-padded-nav">
    <div class="ui container">
        <div class="ui inverted secondary menu">
            <h1 class="ui blue header item">Blog</h1>
            <a href="#" class="item"><i class="home icon"></i>首页</a>
            <a href="#" class="item" th:src="@{/types/-1}"><i class="idea icon"></i>分类</a>
            <a href="#" class="item" ><i class="tags icon"></i>标签</a>
            <a href="#" class="item"><i class="info icon"></i>关于我</a>
            <div class="right item">
                <div class="ui icon inverted transparent input">
                    <form name="search" action="#" th:action="@{/search}" method="post" target="_blank">
                        <div class="ui icon transparent input m-margin-tb-tiny" style="color: white">
                            <input style="color: white" type="text" name="query" placeholder="Search...." th:value="${query}">
                            <i onclick="document.forms['search'].submit()" class="search link icon"></i>
                        </div>
                    </form>
                </div>
            </div>
            <div class="right item">
                <a th:src="@{/user/login}">登录</a>
            </div>
        </div>
    </div>
</nav>

<!--中间内容-->
<div class="m-padded-large">
    <div class="ui container">
        <div class="ui grid">
            <div class="eleven wide column">
                <!--header-->
                <div class="ui top attached segment">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <h3 class="ui blue header">Blog</h3>
                        </div>
                        <div class="right aligned column">
                            共<h2 class="ui orange header m-inline-block">10</h2>篇
                        </div>
                    </div>
                </div>
                <!--content-->
                <div class="ui attached segment" th:each="blog:${pageInfo.list}">
                    <div class="ui segment">
                        <div class="ui grid">
                            <div class="ui eleven wide column" >
                                <h3 class="ui header" ><a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="m-black m-title-font" th:text="${blog.title}">大圣，此去欲何?</a></h3>
                            </div>
                            <p class="m-text m-margin-top-max" th:text="|${blog.description}......|">戴上金箍，没法爱你；放下金箍，没法保护你。我知道上天不会给我第二次机会，曾经我们说好的永远，原来也仅仅只有，十二画，而已。“大圣，此去欲何?”“踏南天，碎凌霄。”“若一去不回……”“便一去不回” 其实很多时候，我们都是有机会的，最后真正放弃的，是我们自己。......</p>
                            <div class="five wide column">
                                <a href="#" target="_blank" >
                                    <img src="../static/images/enter.png" th:src="${blog.avatar}"alt="" class="ui rounded image">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--footer-->
                <div class="ui bottom attached segment">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                                <a href="#" th:href="@{/(pageNum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}" th:unless="${pageInfo.isFirstPage}"  class="ui button mini blue basic">上一页</a>
                        </div>
                        <div class="right aligned column">
                            <a href="#" th:href="@{/(pageNum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages})}" th:unless="${pageInfo.isLastPage}" class="ui button mini blue basic">下一页</a>
                        </div>
                    </div>
                </div>
                <div class="five wide column">
                    <div class="ui segment"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<!--底部-->
<footer class="ui inverted vertical segment m-padded-6">
    <div class="ui center aligned container">
        <div class="ui inverted divided grid">
            <div class="three wide column">
                <img src="../images/footer.png" class="ui rounded image" style="width:100px;height: 120px;"  alt="">
            </div>

            <div class="three wide column m-text-thin m-text-spaced m-text-lined m-opacity-mini">
                <h4 class="ui inverted heaerd">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">我们的故事</a>
                    <a href="#" class="item">每日新鲜事</a>
                    <a href="#" class="item">热榜</a>
                </div>
            </div>

            <div class="three wide column m-text-thin m-text-spaced m-text-lined m-opacity-mini">
                <h4 class="ui inverted heaerd">联系我们</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Emai:111111@163.com</a>
                    <a href="#" class="item">QQ: 12121212</a>
                    <a href="#" class="item">tel:13131313</a>
                </div>
            </div>

            <div class="seven wide column m-text-thin m-text-spaced m-text-lined m-opacity-mini">
                <h4 class="ui inverted heaerd ">About Blog</h4>
                <p>这是三个小朋友第一次尝试开发的Blog，能够实现最基础的博客功能，fighting~！！！！</p>
            </div>
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</body>
</html>