<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>搜索结果</title>
  <link href="../static/images/favicon.ico" th:href="@{/images/me.jpg}" rel="icon" type="image/x-ico">
  <link rel="stylesheet" href="../static/lib/semantic/dist/semantic.min.css" th:href="@{/lib/semantic/dist/semantic.min.css}">
  <link rel="stylesheet"  href="../static/css/index.css" th:href="@{/css/index.css}">
</head>
<body>
<!--导航-->
<nav class="ui inverted attached segment m-padded-nav">
  <div class="ui container">
    <div class="ui inverted secondary menu">
      <h1 class="ui blue header item">Blog</h1>
      <a href="#" th:href="@{/}" class="item"><i class="home icon"></i>首页</a>
      <a href="#" th:href="@{/types/-1}" target="_blank" class="item"><i class="idea icon"></i>分类</a>
      <a href="#" th:href="@{/tags/-1}" class="item"><i class="tags icon"></i>标签</a>
      <div class="right item">
        <div class="ui icon inverted transparent input">
          <form name="search" action="#" th:action="@{/search}" method="post" target="_blank">
            <div class="ui icon transparent input m-margin-tb-tiny" style="color: white">
              <input style="color: white" type="text" name="query" placeholder="Search Blog" th:value="${query}">
              <i onclick="document.forms['search'].submit()" class="search link icon"></i>
            </div>
          </form>
        </div>
        <div class="ui icon inverted transparent input">
          <form name="searchUser" action="#" th:action="@{/user/UserSearch}" method="post" target="_blank">
            <div class="ui icon transparent input m-margin-tb-tiny" style="color: white">
              <input style="color: white" type="text" name="queryUser" placeholder="Search User" th:value="${queryUser}">
              <i onclick="document.forms['searchUser'].submit()" class="search link icon"></i>
            </div>
          </form>
        </div>
        <div class="right menu" th:if="${session.user}">
          <a th:href="@{/user/me}"><img class="ui avatar image" th:src="${session.user.avatar}" src="../images/3.png"></a>
        </div>
        <div th:if="${session.user==null}" class="right item login">
          <a href="#" th:href="@{/user/login}"class="item">登录</a><p style="padding-top: 12px;">/</p>
          <a href="#"th:href="@{/user/register}" class="item">注册</a>
        </div>
      </div>
    </div>
  </div>
</nav>


<!--中间内容-->
<div class="m-padded-large">
  <div class="ui container">
    <div class="ui grid">
      <!--左侧博客内容-->
      <div class="eleven wide column">
        <!--头部 blog 共n篇-->
        <div class="ui top attached segment">
          <div class="ui middle aligned two column grid">
            <div class="column"><h2 class="ui blue header">Blog</h2></div>
            <div  class="right aligned column" >
              共<h2 class="ui orange header m-inline-block " th:text="${pageInfo.total}">10</h2>篇
            </div>
          </div>
        </div>
        <!-- 文字内容部分 -->
        <div class="ui attached segment">
          <div class="ui padded vertical segment m-padded-large" th:each="blog:${pageInfo.list}">
            <div class="ui middle aligned grid">
              <div class="eleven wide column">
                <h3 class="ui haeder" th:text="${blog.title}">总结过去，展望未来</h3>
                <p class="m-text" th:text="|${blog.description}......|">
                  博主是一名准大三的学生，目前就读于双非本科的软件工程专业，大学两年中认真的学习了C语言、C++、Java、Python、Golang、Linux操作系统、MySQL数据库、数据结构与算法、HTML、CSS、JavaScript。最喜欢的编码软件是VS Code，
                  对前端页面设计、Web应用开发、爬虫、数据分析、数据可视化、机器学习、深度学习都有一定的理解，主攻的语言是Python、Golang。大家如果有什么问题欢迎私信博主。
                </p>
                <div class="ui grid">
                  <div class="eleven wide column">
                    <div class="ui horizontal link list">
                      <div class="item">
                        <img src="../images/头像.png" th:src="@{${blog.avatar}}" alt="" class="ui avatar image">
                        <div class="content" ><a href="#" th:text="${blog.nickname}"class="header">二百斤的三儿</a></div>
                      </div>
                      <div class="item">
                        <i class="calendar icon"></i><span th:text="${#dates.format(blog.createTime,'yyyy-MM-dd')}">2021-09-01</span>
                      </div>
                      <div class="item">
                        <i class="eye icon"></i><span th:text="${blog.views}">2674</span>
                      </div>
                    </div>
                  </div>
                  <div class="right aligned five wide column">
                    <a href="./详情页.html" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="ui label blue basic">查看详情</a>
                  </div>
                </div>
              </div>
              <div class="right aligned five wide column">
                <a href="./详情页.html"  th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" ><img src="../images/picture.png" alt="" th:src="@{${blog.firstPicture}}" class="ui rounded image"></a>
              </div>
            </div>
          </div>
        </div>
        <!--底部栏-->
        <div class="ui bottom attached segment">
          <div class="ui middle aligned two column grid">
            <div class="column">
              <a th:href="@{/(pageNum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}" th:unless="${pageInfo.isFirstPage}" href="#" class="ui blue mini button">上一页</a>
            </div>
            <div class="right aligned column">
              <a th:href="@{/(pageNum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages})}" th:unless="${pageInfo.isLastPage}" href="#" class="ui blue mini button">下一页</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>

<!------------------------------------------------------------------------------------------------------------------------------------------------->

<!--底部-->
<footer class="ui inverted vertical segment m-padded-6">
  <div class="ui center aligned container">
    <div class="ui inverted divided grid">
      <div class="three wide column">
        <img src="../images/footer.png" class="ui rounded image" style="width:100px;height: 120px;"  alt="">
      </div>

      <div class="three wide column m-text-thin m-text-spaced m-text-lined m-opacity-mini">
        <h4 class="ui inverted heaerd">最新博客</h4>
        <div class="ui inverted link list">
          <a href="#" class="item">我们的故事</a>
          <a href="#" class="item">每日新鲜事</a>
          <a href="#" class="item">热榜</a>
        </div>
      </div>

      <div class="three wide column m-text-thin m-text-spaced m-text-lined m-opacity-mini">
        <h4 class="ui inverted heaerd">联系我们</h4>
        <div class="ui inverted link list">
          <a href="#" class="item">Emai:111111@163.com</a>
          <a href="#" class="item">QQ: 12121212</a>
          <a href="#" class="item">tel:13131313</a>
        </div>
      </div>

      <div class="seven wide column m-text-thin m-text-spaced m-text-lined m-opacity-mini">
        <h4 class="ui inverted heaerd ">About Blog</h4>
        <p>这是三个小朋友第一次尝试开发的Blog，能够实现最基础的博客功能，fighting~！！！！</p>
      </div>
    </div>
  </div>
</footer>

<script src="../static/lib/jquery-3.2.1/jquery-3.2.1.min.js" th:src="@{/lib/jquery-3.2.1/jquery-3.2.1.min.js}"></script>
<script src="../static/lib/semantic/dist/semantic.min.js" th:src="@{/lib/semantic/dist/semantic.min.js}"></script>

  <script>

      // $('#newblog-container').load(/*[[@{/footer/newblog}]]*/"/footer/newblog");

      $('#blog-message').load(/*[[@{/footer/blogmessage}]]*/"/footer/blogmessage");

      // 运行时间统计
      function secondToDate(second) {
          if (!second) {
              return 0;
          }
          var time = new Array(0, 0, 0, 0, 0);
          if (second >= 365 * 24 * 3600) {
              time[0] = parseInt(second / (365 * 24 * 3600));
              second %= 365 * 24 * 3600;
          }
          if (second >= 24 * 3600) {
              time[1] = parseInt(second / (24 * 3600));
              second %= 24 * 3600;
          }
          if (second >= 3600) {
              time[2] = parseInt(second / 3600);
              second %= 3600;
          }
          if (second >= 60) {
              time[3] = parseInt(second / 60);
              second %= 60;
          }
          if (second > 0) {
              time[4] = second;
          }
          return time;
      }
      function setTime() {
          /*此处为网站的创建时间*/
          var create_time = Math.round(new Date(Date.UTC(2020, 01, 25, 15, 15, 15)).getTime() / 1000);
          var timestamp = Math.round((new Date().getTime() + 8 * 60 * 60 * 1000) / 1000);
          currentTime = secondToDate((timestamp - create_time));
          currentTimeHtml = currentTime[0] + '年' + currentTime[1] + '天'
              + currentTime[2] + '时' + currentTime[3] + '分' + currentTime[4]
              + '秒';
          document.getElementById("htmer_time").innerHTML = currentTimeHtml;
      }
      setInterval(setTime, 1000);


    $('.menu.toggle').click(function () {
      $('.m-item').toggleClass('m-mobile-hide');
    });

  </script>
</body>
</html>
