<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.themleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>分类页</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet"  href="../static/css/index.css" th:href="@{/css/index.css}">
</head>

<body>
<!--导航部分-->
<nav class="ui inverted attached segment m-padded-nav">
    <div class="ui container">
        <div class="ui inverted secondary menu">
            <h1 class="ui blue header item">Blog</h1>
            <a href="#" th:href="@{/}" class="item"><i class="home icon"></i>首页</a>
            <a href="#" th:href="@{/types/-1}" class="item"><i class="idea icon"></i>分类</a>
            <a href="#" th:href="@{/tags/-1}" class="item"><i class="tags icon"></i>标签</a>
            <div class="right item">
                <div class="ui icon inverted transparent input">
                    <form name="search" action="#" th:action="@{/search}" method="post" target="_blank">
                        <div class="ui icon transparent input m-margin-tb-tiny" style="color: white">
                            <input style="color: white" type="text" name="query" placeholder="Search Blog" th:value="${query}">
                            <i onclick="document.forms['search'].submit()" class="search link icon"></i>
                            <input style="color: white" type="text" name="query" placeholder="Search User" th:value="${query}">
                        </div>
                    </form>
                </div>
                <div class="right menu" th:if="${session.user}">
                    <a th:href="@{/user/me}"><img class="ui avatar image" th:src="${session.user.avatar}" src="../images/3.png"></a>
                </div>
                <div th:if="${session.user==null}" class="right item login">
                    <a href="#" th:href="@{/user/login}"class="item">登录</a><p style="padding-top: 12px;">/</p>
                    <a href="#"th:href="@{/user/register}" class="item">注册</a>
                </div>
            </div>
        </div>
    </div>
</nav>
<!------------------------------------------------------------------------------------------------------------------------------------>
<!--中间内容-->
<div class="m-padded-large">
    <div class="ui container">
        <!--头-->
        <div class="ui top attached segment">
            <div class="ui middle aligned two column grid">
                <div class="column"><h3 class="ui blue header">分类标签选择：</h3></div>
                <div  id="type-message" th:fragment="message" class="right aligned column">
                    共<h2 class="ui orange header m-inline-block" th:text="${typeTotal}">20</h2>个
                </div>
            </div>
        </div>
        <!--标签区域-->
        <div class="ui attached segment m-padded-large">
            <div class="ui labeled button m-margin-large" tabindex="0" th:each="type : ${types}">
                <a class="ui basic blue button"  th:href="@{/types/{id}(id=${type.id})}" th:text="${type.name}" th:classappend="${type.id==activeTypeId} ? 'teal'">
                    <i class="hand point right icon"></i> &nbsp;大学生
                </a>
                <div class="ui basic left pointing blue label" th:classappend="${type.id==activeTypeId} ? 'teal'" th:text="${#arrays.length(type.blogs)}">
                    102
                </div>
            </div>
        </div>
        <!--下方内容区域-->
        <div class="ui top attached segment">
            <div class="ui middle aligned two column grid">
                <div class="column"><h3 class="ui blue header">已为您筛选出有该标签的博客:</h3></div>
            </div>
        </div>

        <div class="ui attached segment blue" th:each="blog : ${pageInfo.list}">
            <div class="ui padded vertical segment m-padded-large">
                <div class="ui middle aligned grid">
                    <div class="eleven wide column">
                        <h3 class="ui haeder" th:text="${blog.title}">总结过去，展望未来</h3>
                        <p class="m-text" th:text="|${blog.description}......|">
                            博主是一名准大三的学生，目前就读于双非本科的软件工程专业，大学两年中认真的学习了C语言、C++、Java、Python、Golang、Linux操作系统、MySQL数据库、数据结构与算法、HTML、CSS、JavaScript。最喜欢的编码软件是VS Code，
                            对前端页面设计、Web应用开发、爬虫、数据分析、数据可视化、机器学习、深度学习都有一定的理解，主攻的语言是Python、Golang。大家如果有什么问题欢迎私信博主。
                        </p>
                        <div class="ui grid">
                            <div class="eleven wide column">
                                <div class="ui horizontal link list">
                                    <div class="item">
                                        <img src="../images/头像.png" th:src="@{${blog.avatar}}" alt="" class="ui avatar image">
                                        <div class="content"><a href="#"  th:text="${blog.nickname}" class="header">二百斤的三儿</a></div>
                                    </div>
                                    <div class="item">
                                        <i class="calendar icon"></i><span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}"></span>
                                    </div>
                                    <div class="item">
                                        <i class="eye icon"></i><span th:text="${blog.views}"> </span>
                                    </div>
                                </div>
                            </div>
                            <div class="right aligned five wide column">
                                <a href="./详情页.html" target="_blank" th:href="@{/blog/{id}(id=${blog.id})}" class="ui label blue basic">查看详情</a>
                            </div>
                        </div>
                    </div>
                    <div class="right aligned five wide column">
                        <a href="./详情页.html"th:href="@{/blog/{id}(id=${blog.id})}" target="_blank"><img src="../images/picture.png" th:src="@{${blog.firstPicture}}"  alt="" class="ui rounded image"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui bottom attached segment">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <a href="#" class="ui blue mini button">上一页</a>
                </div>
                <div class="right aligned column">
                    <a href="#" class="ui blue mini button">下一页</a>
                </div>
            </div>
        </div>
    </div>

</div>
<br>

<!------------------------------------------------------------------------------------------------------------------------------------------------->

<!--底部-->
<footer class="ui inverted vertical segment m-padded-6">
    <div class="ui center aligned container">
        <div class="ui inverted divided grid">
            <div class="three wide column">
                <img src="../images/footer.png" class="ui rounded image" style="width:100px;height: 120px;"  alt="">
            </div>

            <div class="three wide column m-text-thin m-text-spaced m-text-lined m-opacity-mini">
                <h4 class="ui inverted heaerd">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">我们的故事</a>
                    <a href="#" class="item">每日新鲜事</a>
                    <a href="#" class="item">热榜</a>
                </div>
            </div>

            <div class="three wide column m-text-thin m-text-spaced m-text-lined m-opacity-mini">
                <h4 class="ui inverted heaerd">联系我们</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Emai:111111@163.com</a>
                    <a href="#" class="item">QQ: 12121212</a>
                    <a href="#" class="item">tel:13131313</a>
                </div>
            </div>

            <div class="seven wide column m-text-thin m-text-spaced m-text-lined m-opacity-mini">
                <h4 class="ui inverted heaerd ">About Blog</h4>
                <p>这是三个小朋友第一次尝试开发的Blog，能够实现最基础的博客功能，fighting~！！！！</p>
            </div>
        </div>
    </div>
</footer>

<script src="../static/lib/jquery-3.2.1/jquery-3.2.1.min.js" th:src="@{/lib/jquery-3.2.1/jquery-3.2.1.min.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script th:inline="javascript">
    $('#type-message').load(/*[[@{/type/message}]]*/);
</script>
</body>
</html>