<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.themleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>个人中心</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
  <link rel="stylesheet"  href="../static/css/index.css" th:href="@{/css/index.css}">
</head>

<body>
<!--导航部分-->
<nav class="ui inverted attached segment m-padded-nav m-shadow-nav">
  <div class="ui container">
    <div class="ui inverted secondary menu">
      <h1 class="ui blue header item">用户主页</h1>
      <a href="#" th:href="@{/}" class="item"><i class="home icon"></i>首页</a>
      <a href="#" class="item"><i class="book icon"></i>我的博客</a>
      <a href="#" class="item"><i class="heart icon"></i>已关注</a>
      <a href="#" class="item"><i class="user icon"></i>粉丝</a>
      <div class="right menu">
        <div class="ui dropdown item">
          <div class="text">
            <img class="ui avatar image" src="../images/3.png" th:src="@{${user.avatar}}">
            <span th:text="${user.nickname}"></span>
          </div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <a href="#" th:href="@{/user/logout}" class="item">退出登录</a>
            <a href="#"  class="item">注销</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<br>
<br>
<!------------------------------------------------------------------------------------------------------------------------------------>
<!--中间内容-->
<div class="ui segment m-padded-large m-container-big  m-margin-large">
  <div class="ui center aligned container">
    <div class="ui divided grid">
      <div class="three wide column">
        <img src="../images/1.png" th:src="@{${user.avatar}}"class="ui rounded image" style="width:100px;height: 100px; left: 37px;"  alt=""><br>
      </div>
      <div class="twelve wide column left aligned">
        <div class="ui  segment">
          <div class="ui horizontal list">
            <div class="item">
              <h1 th:text="${user.nickname}">二百来斤</h1>
            </div>
            <div class="item">
              <i class="birthday cake icon"></i><span th:text="${#dates.format(user.createTime,'yyyy-MM-dd')}">2022-08-29</span>
            </div>
            <div class="item">
              <i class="heart icon "></i><span th:text="${user.fans}">123</span>
            </div>
            <a href="#" class="ui blue label ">编辑资料</a>
          </div><br>
          <p class="ui blue basic label m-padded-small">简介:</p>
          <p class="m-margin-small" th:text="${user.introduction}">圆头圆脑圆肚皮，聪明勇敢有力气!!!!!</p>
        </div>
        <a th:href="@{/user/fanList}"class="ui blue big basic label" th:text="|粉丝：${user.fans}|">粉丝：31</a>
        <a th:href="@{/user/followList}"class="ui blue big basic label" th:text="|已关注：${user.follows}|">已关注：2342</a>
        <p class="ui blue big basic label"> 原创：2</p>
      </div>
      <div  class="ui form top attached segment">
        <div class="inline fields">
          <input type="hidden" name="page">
          <div class="field">
            <input type="text" name="title" placeholder="标题">
          </div>
          <div class="field">
            <div class="ui selection dropdown">
              <input type="hidden" name="typeId">
              <input type="hidden" name="userId" th:value="${user.id}">
              <i class="dropdown icon"></i>
              <div class="default text">分类</div>
              <div class="menu">
                <div class="item" th:each="type: ${types}" th:text="${type.name}" data-value="1" th:data-value="${type.id}">New</div>
              </div>
            </div>
          </div>
          <div class="field">
            <button  type="button" id="search-btn" class="ui mini blue button"><i class="search icon"></i>搜索</button>
          </div>
        </div>
      </div>
      <table class="ui attached celled table" id="table-container" th:fragment="blogList">
            <!--表头-->
            <thead>
            <tr>
              <th></th>
              <th>标题</th>
              <th>数据</th>
              <th>类型</th>
              <th>更新时间</th>
              <th>操作</th>
            </tr>
            </thead>
            <!--表格内容-->
            <tbody>
            <tr th:each="blog,iterStat : ${pageInfo.list}">
              <td th:text="${iterStat.count}">1</td>
              <td th:text="${blog.title}">总结过去，展望未来</td>
              <td> <i class="eye icon"></i><span th:text="${blog.views}">2</span>&nbsp;&nbsp;&nbsp;
                <i class="thumbs up icon"></i><span th:text="${blog.ups}"></span></td>
              <td th:text="${blog.type.name}">成长感悟</td>
              <td th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd HH:mm')}">2022-09-04 09:45</td>
              <td>
                <a href="" th:href="@{/user/blogs/{id}/input(id=${blog.id})}" class="ui mini blue button">编辑</a>
                <a href="" th:href="@{/user/blogs/{id}/delete(id=${blog.id})}" class="ui mini red button">删除</a>
              </td>
            </tr>
            </tbody>
            <!--表格尾部-->
            <tfoot>
            <tr>
              <th colspan="7">
                <div class="ui right floated pagination menu">
                  <a class="icon item" th:href="@{/user/me(pageNum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}" th:unless="${pageInfo.isFirstPage}">
                    <i class="left chevron icon"></i>&nbsp;&nbsp;
                    上一页
                  </a>

                  <a class="icon item" th:href="@{/user/me(pageNum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages})}" th:unless="${pageInfo.isLastPage}">下一页&nbsp;&nbsp;
                    <i class="right chevron icon"></i>
                  </a>
                </div>
                <a href="" class="ui mini blue button" th:href="@{/user/blogs/input}"><i class="plus icon"></i>新增</a>
              </th>
            </tr>
            </tfoot>
          </table>
    </div>
  </div>
</div>

<br>
<br>
<br>

<!------------------------------------------------------------------------------------------------------------------------------------------------->

<!--底部-->
<footer class="ui inverted vertical segment m-padded-6">
  <div class="ui center aligned container">
    <div class="ui inverted divided grid">
      <div class="three wide column">
        <img src="../images/footer.png" class="ui rounded image" style="width:100px;height: 120px;"  alt="">
      </div>

      <div class="three wide column m-text-thin m-text-spaced m-text-lined m-opacity-mini">
        <h4 class="ui inverted heaerd">最新博客</h4>
        <div class="ui inverted link list">
          <a href="#" class="item">我们的故事</a>
          <a href="#" class="item">每日新鲜事</a>
          <a href="#" class="item">热榜</a>
        </div>
      </div>

      <div class="three wide column m-text-thin m-text-spaced m-text-lined m-opacity-mini">
        <h4 class="ui inverted heaerd">联系我们</h4>
        <div class="ui inverted link list">
          <a href="#" class="item">Emai:111111@163.com</a>
          <a href="#" class="item">QQ: 12121212</a>
          <a href="#" class="item">tel:13131313</a>
        </div>
      </div>

      <div class="seven wide column m-text-thin m-text-spaced m-text-lined m-opacity-mini">
        <h4 class="ui inverted heaerd ">About Blog</h4>
        <p>这是三个小朋友第一次尝试开发的Blog，能够实现最基础的博客功能，fighting~！！！！</p>
      </div>
    </div>
  </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script th:inline="javascript">
        $('.ui.dropdown').dropdown({
            on:'hover'
        });
        $("#search-btn").click(function () {
      $("[name='page']").val(0);
      loaddata();
    });

     function loaddata() {
      $("#table-container").load(/*[[@{/user/search}]]*/,{
        title : $("[name='title']").val(),
        typeId : $("[name='typeId']").val(),
        page : $("[name='page']").val()
      });
    }
    </script>
</body>
</html>