<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.themleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>其他用户</title>
  <link rel="stylesheet" href="../static/lib/semantic/dist/semantic.min.css" th:href="@{/lib/semantic/dist/semantic.min.css}">
  <link rel="stylesheet"  href="../static/css/index.css" th:href="@{/css/index.css}">

</head>

<body>
<!--导航部分-->
<nav class="ui inverted attached segment m-padded-nav">
  <div class="ui container">
    <div class="ui inverted secondary menu">
      <h1 class="ui blue header item">Blog</h1>
      <a href="#" th:href="@{/}" class="item"><i class="home icon"></i>首页</a>
      <a href="#" th:href="@{/types/-1}" target="_blank" class="item"><i class="idea icon"></i>分类</a>
      <a href="#" th:href="@{/tags/-1}" class="item"><i class="tags icon"></i>标签</a>
      <div class="right item">
        <div class="ui icon inverted transparent input">
          <form name="search" action="#" th:action="@{/search}" method="post" target="_blank">
            <div class="ui icon transparent input m-margin-tb-tiny" style="color: white">
              <input style="color: white" type="text" name="query" placeholder="Search Blog" th:value="${query}">
              <i onclick="document.forms['search'].submit()" class="search link icon"></i>
              <input style="color: white" type="text" name="query" placeholder="Search User" th:value="${query}">
            </div>
          </form>
        </div>
        <div class="right menu" th:if="${session.user}">
          <a th:href="@{/user/me}"><img class="ui avatar image" th:src="${session.user.avatar}" src="../images/3.png"></a>
        </div>
        <div th:if="${session.user==null}" class="right item login">
          <a href="#" th:href="@{/user/login}"class="item">登录</a><p style="padding-top: 12px;">/</p>
          <a href="#"th:href="@{/user/register}" class="item">注册</a>
        </div>
      </div>
    </div>
  </div>
</nav>
<br>
<br>
<!------------------------------------------------------------------------------------------------------------------------------------>
<!--中间内容-->
<div class="ui segment m-padded-large m-container-big  m-margin-large" >
  <div class="ui center aligned container">
    <div class="ui divided grid">
      <div class="three wide column">
        <img src="../images/1.png" th:src="@{${user.avatar}}" class="ui rounded image" style="width:100px;height: 100px; left: 37px;"  alt=""><br>

        <div class="ui blue label">普通用户</div>
        <br>

      </div>
      <div class="twelve wide column left aligned">
        <div class="ui  segment">
          <div class="ui horizontal list">
            <div class="item">
              <h1 th:text="${user.nickname}">其他用户</h1>
            </div>
            <div class="item">
              <i class="birthday cake icon"></i><span th:text="${#dates.format(user.createTime,'yyyy-MM-dd')}">2022-08-29</span>
            </div>
            <div id="result" class="item">
              <div th:fragment="message">
                <button class="ui active button fade red " th:if="${hasFollowed==0}" onclick="follow()">
                  <i class="user icon" ></i>
                  关注
                </button>
                <button class="ui active button fade red " th:if="${hasFollowed==1}" onclick="unfollow()">
                  <i class="user icon" ></i>
                  取消关注
                </button>
              </div>
            </div>
          </div><br>
          <p class="ui blue basic label m-padded-small">简介:</p>
          <p class="m-margin-small" th:text="${user.introduction}">这是一个用户!</p>
        </div>

        <p class="ui blue big basic label" >获赞：111</p>
        <p class="ui blue big basic label" th:text="|粉丝：${user.fans}|">粉丝：31</p>
        <p class="ui blue big basic label" th:text="|已关注：${user.follows}|">已关注：2342</p>
      </div>
      <div class="ui form top attached segment">
        <input type="hidden" name="page">
        <input type="hidden" name="userId" th:value="${user.id}">
        <div class="inline fields">
          <div class="field">
            <input type="text" name="title" placeholder="标题">
          </div>
          <div class="field">
            <div class="ui selection dropdown">
              <input type="hidden" name="typeId">
              <i class="dropdown icon"></i>
              <div class="default text">类型</div>
              <div class="menu">
                <div class="item" th:each="type: ${types}" th:text="${type.name}" data-value="1" th:data-value="${type.id}">New</div>
              </div>
            </div>
          </div>
          <div class="field">
            <button class="ui mini blue button" type="button" id="search-btn"><i class="search icon"></i>搜索</button>
          </div>
        </div>
      </div>
        <table class="ui attached celled table" id="table-container" th:fragment="blogList">
          <!--表头-->
          <thead>
          <tr>
            <th></th>
            <th>标题</th>
            <th>类型</th>
            <th>更新时间</th>
            <th>操作</th>
          </tr>
          </thead>
          <!--表格内容-->
          <tbody>
          <tr th:each="blog,iterStat : ${pageInfo.list}">
            <td th:text="${iterStat.count}">1</td>
            <td th:text="${blog.title}">总结过去，展望未来</td>
            <td th:text="${blog.type.name}">成长感悟</td>
            <td th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd HH:mm')}">2022-09-04 09:45</td>
            <td>
              <a href="" class="ui mini blue button" th:href="@{/blog/{id}(id=${blog.id})}">查看</a>
            </td>
          </tr>
          </tbody>
          <!--表格尾部-->
          <tfoot>
          <tr>
            <th colspan="5">
              <div class="ui right floated pagination menu">
                <a class="icon item" th:href="@{/user/{userId}(userId=${user.id},pageNum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}" th:unless="${pageInfo.isFirstPage}">
                  <i class="left chevron icon"></i>&nbsp;&nbsp;
                  上一页
                </a>

                <a class="icon item" th:href="@{/user/{userId}(userId=${user.id},pageNum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages})}" th:unless="${pageInfo.isLastPage}">下一页&nbsp;&nbsp;
                  <i class="right chevron icon"></i>
                </a>
              </div>

            </th>
          </tr>
          </tfoot>
        </table>

    </div>
  </div>
</div>
<br>
<br>
<br>
<div class="ui modal">
  <div class="ur container">
    <div class="ui middle aligned center aligned grid">
      <div class="column">
        <h2 class="ui teal image header">
          <div class="content">
            用户登录
          </div>
        </h2>
        <form class="ui large form" method="post" action="#" th:action="@{/user/login}">
          <div class="ui  segment">
            <div class="field">
              <div class="ui left icon input">
                <i class="user icon"></i>
                <input type="text" name="username" placeholder="用户名">
              </div>
            </div>
            <div class="field">
              <div class="ui left icon input">
                <i class="lock icon"></i>
                <input type="password" name="password" placeholder="密码">
              </div>
            </div>
            <button class="ui fluid large teal submit button">登   录</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!------------------------------------------------------------------------------------------------------------------------------------------------->

<!--底部-->
<footer class="ui inverted vertical segment m-padded-6">
  <div class="ui center aligned container">
    <div class="ui inverted divided grid">
      <div class="three wide column">
        <img src="../images/footer.png" class="ui rounded image" style="width:100px;height: 120px;"  alt="">
      </div>

      <div class="three wide column m-text-thin m-text-spaced m-text-lined m-opacity-mini">
        <h4 class="ui inverted heaerd">最新博客</h4>
        <div class="ui inverted link list">
          <a href="#" class="item">我们的故事</a>
          <a href="#" class="item">每日新鲜事</a>
          <a href="#" class="item">热榜</a>
        </div>
      </div>

      <div class="three wide column m-text-thin m-text-spaced m-text-lined m-opacity-mini">
        <h4 class="ui inverted heaerd">联系我们</h4>
        <div class="ui inverted link list">
          <a href="#" class="item">Emai:111111@163.com</a>
          <a href="#" class="item">QQ: 12121212</a>
          <a href="#" class="item">tel:13131313</a>
        </div>
      </div>

      <div class="seven wide column m-text-thin m-text-spaced m-text-lined m-opacity-mini">
        <h4 class="ui inverted heaerd ">About Blog</h4>
        <p>这是三个小朋友第一次尝试开发的Blog，能够实现最基础的博客功能，fighting~！！！！</p>
      </div>
    </div>
  </div>
</footer>

<script src="../static/lib/jquery-3.2.1/jquery-3.2.1.min.js" th:src="@{/lib/jquery-3.2.1/jquery-3.2.1.min.js}"></script>
<script src="../static/lib/semantic/dist/semantic.min.js" th:src="@{/lib/semantic/dist/semantic.min.js}"></script>
<script th:inline="javascript">
        $('.ui.dropdown').dropdown({
            on:'hover'
        });

    var user=/*[[${session.user}]]*/;
    function follow(){
    if(user==null)
    {
           $('.ui.modal').modal('show');
    }
    else $('#result').load(/*[[@{/user/follow/{followId}(followId=${user.id})}]]*/);
    }

    function unfollow(){ $('#result').load(/*[[@{/user/unfollow/{followId}(followId=${user.id})}]]*/);}

    $("#search-btn").click(function () {
      $("[name='page']").val(0);
      loaddata();
    });

     function loaddata() {
      $("#table-container").load(/*[[@{/user/search}]]*/,{
        title : $("[name='title']").val(),
        typeId : $("[name='typeId']").val(),
        page : $("[name='page']").val(),
        userId: $("[name='userId']").val()
      });
    }
 </script>
</body>
</html>