<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myblog.blog.mapper.Blogmapper">
    <insert id="saveBlog"></insert>
    <update id="updateBlog"></update>

    <delete id="deletBlog"></delete>

    <select id="getBlogByid" resultType="com.myblog.blog.entity.Blog"></select>
    <select id="getAllBlog" resultType="com.myblog.blog.entity.Blog"></select>
</mapper>
