<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myblog.blog.mapper.Blogmapper">
    <!--查询文章管理列表-->
    <resultMap id="blog" type="com.myblog.blog.entity.Blog">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="recommend" column="recommend"/>
        <result property="published" column="published"/>
        <result property="typeId" column="type_id"/>
        <association property="type" javaType="com.myblog.blog.entity.Type">
            <id property="id" column="id"/>
            <result property="name" column="name"/>
        </association>
    </resultMap>
    <insert id="saveBlog">
        insert into myblog.t_blog (id,title, content, first_picture, flag,
        views, comment_count, appreciation, share_statement, commentabled, published,
        recommend, create_time, update_time, type_id, user_id, description)
        values (#{id},#{title},#{content},#{firstPicture},#{flag},#{views},#{commentCount},#{appreciation},
        #{shareStatement},#{commentabled},#{published},#{recommend},#{createTime},
        #{updateTime},#{typeId},#{userId},#{description});
    </insert>
    <update id="updateBlog" parameterType="com.myblog.blog.quaryentity.ShowBlog">
        update myblog.t_blog
        set published = #{published},flag = #{flag} ,
        title = #{title}, content = #{content}, type_id = #{typeId},
        first_picture = #{firstPicture} , description = #{description} , recommend = #{recommend} ,
        share_statement = #{shareStatement}, appreciation = #{appreciation},
        commentabled = #{commentabled} ,update_time = #{updateTime}
        where id = #{id};
    </update>
    <delete id="deletBlog">
        delete from myblog.t_blog where id = #{id}
    </delete>

    <select id="getBlogByid" resultType="com.myblog.blog.quaryentity.ShowBlog">
        select b.id,b.flag,b.title,b.content,b.type_id,
        b.first_picture,b.description,b.recommend,b.published,b.share_statement,
        b.appreciation,b.commentabled
        from myblog.t_blog b
        where  b.id = #{id};
    </select>
    <select id="getAllBlogQuery" resultMap="blog">
        select b.id,b.title,b.create_time,b.update_time,b.recommend,b.published,b.type_id,t.id typeno,t.name
        from t_blog b
        left join t_type t on b.type_id = t.id
        order by b.create_time desc
    </select>

</mapper>
