<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myblog.blog.mapper.Commentmapper">
    <insert id="saveComment"></insert>
    <delete id="deleteComment"></delete>
    <select id="listCommentByBlogId" resultType="com.myblog.blog.entity.Comment"></select>
    <select id="getEmailByParentId" resultType="com.myblog.blog.entity.Comment"></select>
    <select id="saveAllCComment" resultType="com.myblog.blog.entity.Comment"></select>
</mapper>
