<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myblog.blog.mapper.Usermapper">
    <insert id="saveUser" parameterType="com.myblog.blog.entity.User">
        insert into t_user(username,password,email,nickname,introduction,avatar,create_time,fans,follows) values (#{username},#{password},#{email},#{nickname},#{introduction},#{avatar},#{createTime},#{fans},#{follows})
    </insert>
    <insert id="saveFollower">
        insert myblog.t_follow(t_userId,t_follow.t_followId,hasfollowed) VALUES(#{userId},#{followId},1)
    </insert>
    <update id="updateUser">
        update t_user set nickname = #{nickname},avatar=#{avatar},password=#{password},email=#{email} where id = #{id}
    </update>
    <update id="updateFollow">
        update t_user u set follows=follows+1
        where u.id=#{userId}
    </update>
    <update id="updateFans">
        update t_user u set fans=fans+1
        where u.id=#{userId}
    </update>
    <delete id="deleteUser">
       delete from t_user where id = #{id}
    </delete>
    <delete id="cancelFollow">
        DELETE FROM t_follow where t_userId=#{userId} and t_followId=#{followId};
    </delete>
    <update id="deleteFans">
        update t_user u set fans=fans-1
        where u.id=#{userId}
    </update>
    <update id="deleteFollow">
        update t_user u set follows=follows-1
        where u.id=#{userId}
    </update>
    <select id="getUserById" resultType="com.myblog.blog.entity.User">
        select * from t_user where id=#{id}
    </select>
    <select id="getAllUser" resultType="com.myblog.blog.entity.User">
        select * from t_user
    </select>
    <select id="getUserByName" resultType="com.myblog.blog.entity.User">
        select * from t_user where nickname=#{nickname}
    </select>
    <select id="getAllUsernameandPassword" resultType="com.myblog.blog.entity.User">
        select * from t_user where username=#{username} and password=#{password}
    </select>
    <select id="selectAllFollowers" resultType="com.myblog.blog.entity.User">
        SELECT u.id,u.avatar,u.nickname from myblog.t_user u,myblog.t_follow f where f.t_userId=#{userId} and f.t_followId=u.id;
    </select>
    <select id="isFollowed" resultType="com.myblog.blog.quaryentity.FollowEntity">
        SELECT f.hasfollowed FROM t_follow f WHERE f.t_userId=#{userId} and f.t_followId=#{followId};
    </select>
    <select id="getUserBySearch" resultType="com.myblog.blog.quaryentity.UserQuery">
            <bind name="pattern" value="'%' + query + '%'" />
            select u.id,u.nickname,u.avatar,u.fans,u.create_time from t_user u where u.nickname like #{pattern}
    </select>

</mapper>

